//*********************
//colors for note labels
//*********************
$color-1:rgb(44, 97, 243);
$color-2:rgb(99, 24, 239);
$color-3:rgb(163, 32, 224);
$color-4:rgb(190, 21, 224);
$color-5:rgb(248, 58, 216);
$color-6:rgb(244, 84, 10);
$color-7:rgb(242, 179, 96);
$color-8:rgb(243, 232, 79);
$color-9:rgb(160, 234, 56);
$color-10:rgb(20, 196, 10);
$color-11:rgb(5, 114, 49);
$color-12:rgb(80, 207, 160);
$color-13:rgb(6, 237, 240);
$color-14:rgb(95, 182, 240);
$color-15:rgb(72, 110, 197);
$color-16:rgb(255, 255, 255);
$color-17:rgb(0, 0, 0);
$color-18:rgb(126, 127, 130);

