body{
    margin: 0;
    main{
        margin: 0 1.5em 0 2em;
        @media(min-width:1000px){
            margin: 0 auto;
            width: 80%;
        }
       
        h2{
            color: gray;  
         }
        span{
            color: black;
        } 
        p{
            font-size: small;
        }
//*********************************************/
 //Search Input and Create Note Button Styles
 //*********************************************/
        .section-one{
            @media(min-width: 768px){
                display: grid;
                grid-template-columns: 35% 35%;
                justify-content: space-between;
                h2{
                    display: none;
                }
            }
        }
        .note{
            @include flexbox (flex,space-between,center);
            border: solid 1px;
            margin-bottom: 1em;
            border-radius: 7px;
            box-shadow:  1px 5px 5px rgb(172, 141, 172);
            @media(min-width:768px){
                margin-top: 1em;
                height: 50px;  
            }
            input{
                @include width-height (100%,49px);
                outline: none;
                font-size: larger;
            }

            p{
                padding-left: 2em;
            }
            .arrow{
                @include flexbox (flex,center,center);
                @include width-height (60px,50px);
                fill: white;
                background-color: rgb(172, 141, 172);
                padding: .5em;
                border-radius: 3px;
                @media(min-width: 768px){
                    @include width-height (50px,48px);
                }
            }
            
            .cross{
                color: rgb(172, 141, 172);
                height: 30px;
                margin-left: auto;
                padding-right: 1.5em;
            }
        }
//*********************************************/
// Content Section
//*********************************************/
        .dates-flex{
            @include flexbox (flex,null,center);
            span{
                @include width-height (10px,10px);
                border-radius: 360px;
                margin-right: 1em;  
            }
            .first-dot{
                background-color: blue;
            }
            .second-dot{
                background-color: plum;
            }
            .third-dot{
                background-color: orange;
            }
        }

        .paragraphs{
            background-color: lightgray;
            border-radius: 3px;
            padding: 1em;
            margin-bottom: 1em;
            font-size: small;
        }
        
    }
    .search{
        width: 95%;
    }
    .grid{
        @media(min-width:1300px){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 3em;
            margin-top: 1.5em;
        }
    }
}
