nav{
    background-color: rgb(172, 141, 172);
    padding: 1em  2em;
    @media(min-width:768px){
        @include flexbox (flex, space-between, center);
        color: white;
    }
    @media(min-width:1200px){
        padding: 1em 5em;
    }
    .drop-menu{
        @include width-height (35px,35px);
        fill: white;
        @media(min-width:768px){
            display: none;
        }
    }
    
    h2{
        display: none;
        @media(min-width:768px){
            display: inline-block;
            padding-left: .5em;
            span{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }
    .flex-icon{
        @include flexbox (flex, space-between, center);
        padding: 0 .5em;
        
    }
    .list-items{
        @include flexbox (flex, space-between, center);
    }
    
    .feather{
        @include width-height (35px,35px);
        color: white;
    }
    .download{
        @include width-height (35px,35px);
        display: none;
        @media(min-width:768px){
            display: inline-block;
            margin-left: 3em;
        }
    }
    ul{
        list-style-type: none;
        display: none;
        @media(min-width:768px){
            @include flexbox (flex,null, null);
        }
        a{
            text-decoration: none;
            color: white;
        }
        li{
            margin-left: 1em;
            font-size: larger;
        }
        span{
            border-right: solid 1px white;
            padding-left: 1em;
        }
    };
}
