#container{
    @include flexbox (flex, center, center);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb($Bckg-color, $alpha);
}

.note-container {
    @include container-styles (whitesmoke, 1em auto 0, 0 2em 1em, 90%, solid black 1px);
    width: 45%;
    min-width: 500px;
    position: absolute;
    z-index: 2;
    & > h1{
        text-align: center;
    }
    p{
        margin: 3px;
    }
    .color-container{
        @include flexbox (flex, space-around, null);
        @include container-styles (white,null,.5em,null,none);      
        .color-1{
            @include circle-styles;
            background-color: $color-1;    
        }
        .color-2{
            @include circle-styles;
            background-color: $color-2;    
        }
        .color-3{
            @include circle-styles;
            background-color: $color-3;    
        }
        .color-4{
            @include circle-styles;
            background-color: $color-4;    
        }
        .color-5{
            @include circle-styles;
            background-color: $color-5;    
        }
        .color-6{
            @include circle-styles;
            background-color: $color-6;    
        }
        .color-7{
            @include circle-styles;
            background-color: $color-7;    
        }
        .color-8{
            @include circle-styles;
            background-color: $color-8;    
        }
        .color-9{
            @include circle-styles;
            background-color: $color-9;    
        }
        .color-10{
            @include circle-styles;
            background-color: $color-10;    
        }
        .color-11{
            @include circle-styles;
            background-color: $color-11;    
        }
        .color-12{
            @include circle-styles;
            background-color: $color-12;    
        }
        .color-13{
            @include circle-styles;
            background-color: $color-13;    
        }
        .color-14{
            @include circle-styles;
            background-color: $color-14;    
        }
        .color-15{
            @include circle-styles;
            background-color: $color-15;    
        }.color-16{
            @include circle-styles;
            background-color: $color-16;    
        }.color-17{
            @include circle-styles;
            background-color: $color-17;    
        }.color-18{
            @include circle-styles;
            background-color: $color-18;    
        }
    }
    .color-container,
    input{
        margin-bottom: 2em
    }
}
input{
    @include width-height(100%,3em);
    outline: none;
    
}
textarea{
    @include width-height(100%,14em);
    outline: none;
    border: none
}
button{
    @include Btn-styles;
    // @include width-height(9em,3em);
//     background-color:$Btn-color;
//     color: white;
//     border-radius: 5px;
}
button + button{
    margin-left:  8px;
}

